nav {	
	font-family: Arial;
	font-weight: bold;
	text-align: right;
	overflow: hidden;
}

nav ul {
	list-style: none;
	height: 110px;
	overflow: hidden;
	margin: 0;
	line-height: 110px;
	margin-right: 20px;
}
nav ul li {
	width: 120px;
	line-height: 110px;
	float: left;
	overflow: hidden;
}

nav ul li a {
	text-decoration: none;
	color: #9DBAD1;
	display: block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: center;
	float: right;
	width: 117px;
}

nav ul span {
	background: #D9D9D9;
	padding-left: 2px;
	padding-bottom: 20px;
}

nav ul li a:hover {
	text-decoration: underline;
	color: #9DBAD1;
}

nav #bar {
	position: absolute;
	top: 100px;
	display: block;
}

nav #bar #selector {
	position: relative;
	padding-top: 2px;
	width: 120px;
	display: block;
	background: #CDCDCD;
	left: 40;
}

nav #bar #selector .circle {
	width: 6px;
	height: 6px;
	border-radius: 3px;
	display: block;
	padding: 0px;
	background: #CDCDCD;
	position: absolute;
	top: -2;
	-moz-border-radius: 3px;
}